<div class="header">
    <div class="logo">
        <a class="navbar-brand" href="/">EthoWatcher OS</a>
    </div>
    <div class="titulo">

        <nav class="container-lg navbar navbar-expand-sm navbar-light">
        
            <a class="navbar-brand" href="/about/">Quem somos</a>
            <a class="navbar-brand" href="/pop/">Procedimento operacional padrão (POP)</a>
            <a class="navbar-brand" href="https://github.com/EthoWatcher/ethowatcher/issues">Forum</a>
            <a class="navbar-brand" href="https://github.com/EthoWatcher/ethowatcher/releases/">Download</a>
    
        </nav>
    </div>
    
</div>